{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de Vente - Marché du Web{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/commun/confidentialite.style.css') }}">
{% endblock %}

{% block body %}
    <h1>Politique de confidentialité</h1>
    <div id="bloc-confidentialite">       
    <hr>
        <div class="titre">Qui sommes-nous ?</div>
            <div class="paragraphe">Marcheduweb.fr est une entreprise née dans le Nord de la France.</div>

        <div class="titre">Utilisation des données personnelles collectées</div>
        <div class="sous-titre">Commentaires</div>
        <div class="paragraphe">
            Quand vous laissez un commentaire sur notre site web, les données inscrites dans le formulaire de commentaire, mais aussi votre adresse IP et l’agent utilisateur de votre navigateur sont collectés pour nous aider à la détection des commentaires indésirables.
            Une chaîne anonymisée créée à partir de votre adresse de messagerie (également appelée hash) peut être envoyée au service Gravatar pour vérifier si vous utilisez ce dernier. Les clauses de confidentialité du service Gravatar sont disponibles ici : https://automattic.com/privacy/. Après validation de votre commentaire, votre photo de profil sera visible publiquement à coté de votre commentaire.
        </div>

        <div class="sous-titre">Médias</div>
        <div class="paragraphe">
            Si vous êtes un utilisateur ou une utilisatrice enregistré·e et que vous téléversez des images sur le site web, nous vous conseillons d’éviter de téléverser des images contenant des données EXIF de coordonnées GPS. Les visiteurs de votre site web peuvent télécharger et extraire des données de localisation depuis ces images.
        </div>
        <div class="sous-titre">Contenu embarqué depuis d’autres sites</div>
        <div class="paragraphe">
            Les articles de ce site peuvent inclure des contenus intégrés (par exemple des vidéos, images, articles…). Le contenu intégré depuis d’autres sites se comporte de la même manière que si le visiteur se rendait sur cet autre site.
            Ces sites web pourraient collecter des données sur vous, utiliser des cookies, embarquer des outils de suivis tiers, suivre vos interactions avec ces contenus embarqués si vous disposez d’un compte connecté sur leur site web.
        </div>

        <div class="titre">Utilisation et transmission de vos données personnelles</div>
        <div class="sous-titre">Durées de stockage de vos données</div>
        <div class="paragraphe">
            Si vous laissez un commentaire, le commentaire et ses métadonnées sont conservés indéfiniment. Cela permet de reconnaître et approuver automatiquement les commentaires suivants au lieu de les laisser dans la file de modération.
            Pour les utilisateurs et utilisatrices qui s’inscrivent sur notre site (si cela est possible), nous stockons également les données personnelles indiquées dans leur profil. Tous les utilisateurs et utilisatrices peuvent voir, modifier ou supprimer leurs informations personnelles à tout moment (à l’exception de leur nom d’utilisateur·ice). Les gestionnaires du site peuvent aussi voir et modifier ces informations.
        </div>
        <div class="sous-titre">Les droits que vous avez sur vos données</div>
        <div class="paragraphe">
            Si vous avez un compte ou si vous avez laissé des commentaires sur le site, vous pouvez demander à recevoir un fichier contenant toutes les données personnelles que nous possédons à votre sujet, incluant celles que vous nous avez fournies. Vous pouvez également demander la suppression des données personnelles vous concernant. Cela ne prend pas en compte les données stockées à des fins administratives, légales ou pour des raisons de sécurité.
        </div>

        <div class="sous-titre">Transmission de vos données personnelles</div>
        <div class="paragraphe">
            Les commentaires des visiteurs peuvent être vérifiés à l’aide d’un service automatisé de détection des commentaires indésirables.
        </div>

        <div class="titre">Propriété intellectuelle</div>
        <div class="paragraphe">
            La structure générale du Site, les textes, les données et les éléments graphiques du Site, animés ou non, constituent des œuvres protégées par les lois sur la propriété intellectuelle, et par les traités internationaux.
            Tout visiteur qui télécharge ou recueille des informations ne dispose que d’un droit d’usage à des fins privées, personnel et non transmissible.
            A défaut d’accord préalable et écrit de la Société …, toute reproduction, utilisation et/ou modification du site et/ou des éléments le composant sont susceptibles de constituer une contrefaçon sanctionnée par les articles L. 335-2 et suivants du Code de la propriété intellectuelle ainsi que par les conventions internationales.
            Art. L.335-2 CPI : Toute édition d’écrits, de composition musicale, de dessin, de peinture ou de toute autre production, imprimée ou gravée en entier ou en partie, au mépris des lois et règlements relatifs à la propriété des auteurs, est une contrefaçon et toute contrefaçon est un délit. La contrefaçon en France d’ouvrages publiés en France ou à l’étranger est punie de trois ans d’emprisonnement et de 300.000 euros d’amende.
        </div>
        <div class="titre">Loi informatique et liberté</div>
        <div class="paragraphe">
            Conformément à la loi du 6 Janvier 1978 relative à l’informatique, aux fichiers et aux libertés, les informations et données nominatives que vous nous communiquez sont uniquement destinées à et à ses partenaires commerciaux (déclaration CNIL n° : 1432906. Afin de faire valoir votre droit d’accès et de rectification aux données vous concernant, aussi pour vous désabonner à notre newsletter, adressez-nous un courrier ou contactez-nous par email à l’adresse contact@marcheduweb.fr.
        </div>

        <div class="sous-titre">Utilisations des cookies</div>
        <div class="paragraphe">
            Le marché du Web peut être amené à utiliser des cookies.
            Un cookie est un fichier de faible taille contenant des données transmis par le serveur d’un serveur http au navigateur de l’Utilisateur et stocké sur son disque dur : enregistrement des informations relatives à la navigation qui pourront être lues lors de visites ultérieures.
            Un cookie ne permet donc pas d’identifier l’Utilisateur.
            Par contre, l’Utilisateur peut s’opposer à l’enregistrement de cookies, ou être prévenu
            avant d’accepter les cookies, en configurant les navigateurs internet (par exemple : Mozilla et Internet Explorer).
        </div>

        <div class="sous-titre">LIENS HYPERTEXTES</div>
        <div class="paragraphe">
            Le site — peut contenir des liens hypertextes permettant l’accès à des sites qui ne sont pas édités par marché du web-.
            En conséquence, notre société ne saurait être tenue pour responsable du contenu des sites auxquels l’internaute aurait ainsi accès.
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}