{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Marché du Web{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <div class="container p-5">
        <p>
            Un email avec un lien pour réinitialiser le mot de passe a été envoyé à votre adresse email.
            Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>

        <p>Si vous ne recevez d'email, pensez à vérifier votre dossier courrier indésirable ou <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
    </div>
{% endblock %}
