body {

    font-family: "aclonica", arial;
    font-size: 16px;
    color: #404248;
    letter-spacing: 3px;
}

#container-principal {

    margin-top: 24px;
    margin-bottom: 24px;
}

h1 {

    font-family: "roboto_condensed", arial;
    font-size: 48px;
}

h2 {

    font-family: "roboto_condensed", arial;
    font-size: 28px;
    margin: 32px 0 24px 0;
}

#rang-commande {

    padding-left: 24px;
    padding-right: 24px;
}

.case-p-8 {

    padding: 8px;
    font-size: 13px;
}

.gras {

    font-weight: 600;
}

#table-commande {

    width: 100%;
}

.en-tete-tableau-commande {

    padding: 16px;
}

.lien-produit {

    text-decoration: underline;
}

.lien-produit:hover {

    text-decoration: none;
}

#table-commande > th,tr {

    border: 1px solid lightgrey;
}

#table-commande > th,td {

    padding: 16px;
}

.bloc-adresse {

    border: 1px solid lightgrey;
    padding: 8px;
    height: 60%;
    overflow-wrap: break-word;
}

#div-bouton-accueil {

    text-align: center;
    margin-top: 50px;
}

#bouton-accueil{

    background-color: #C86262;
    border-color: #C86262;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 700;
    color: black;
}

#bouton-accueil:hover {

    background-color: rgb(0, 123, 255);
    border-color: rgb(0, 123, 255);
    color: white;
}

@media (min-width: 992px) { /*lg et plus*/

    .bordure-droite-lg {

        border-right: 1px solid lightgrey;
    }
}

@media (min-width: 768px) and (max-width: 991px) { /*md*/

    .titre-syncro {

        height: 70px;
    }
}