#msg-confirmation {
    margin: 16px;
}

#reference {
    text-decoration: underline;
}

h5 {
    margin: 1%;
}

#row-adresses {
    display: table-row;
}

.col-adresses {
    display: table-cell;
    border: 1px solid lightgrey;
    padding: 8px;
}

#row-message {
    margin-top: 16px;
    margin-bottom: 32px;
}

#col-message {
    width: 98%;
    margin-left: 1%;
    padding: 8px 0 8px 40px;
    background-color: rgb(242,242,242)
}