body .lien-article {

    font-family: "aclonica", arial !important;
    font-size: 16px !important;
    color: #404248 !important;
    letter-spacing: 2px !important;
}

.card {

    margin-top: 20px;
    margin-bottom: 20px;
}

#photo-principale {

    position: relative;
    width: 90%;
    left: 5%;
    margin: 0;
}

h1 {

    font-family: "roboto_condensed", arial;
    font-size: 48px;
    margin-top: 20px;
}

.nom-produit {

    font-family: "roboto_condensed", arial !important;
    font-size: 30px !important;
}

.lien-article:hover {

    text-decoration: none !important;
} 