body {
    font-family: arial, sans-serif;
    font-size: 16px;
    color: #2B2B2B;
}

h1 {
    font-family: "roboto_condensed", arial;
    font-size: 48px;
    color: #404248;
    margin-top: 20px;
}

#bouton_envoi {
    background-color: #C86262 !important;
    border-color: #C86262 !important;
    color: black !important;
    margin-left: 45%;
    margin-top: 15px;
    margin-bottom: 15px;
}

#bouton_envoi:hover {
    background-color: rgb(0, 123, 255) !important;
    border-color: rgb(0, 123, 255) !important;
    color: white !important;
}

@media (max-width: 991px) {
    h1 {
        font-size: 24px;
    }
}